<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoWPacketViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WoWPacketViewer.Properties.Settings>
            <setting name="PacketViewForeColor" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="PacketViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="HexViewForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="HexViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="ParsedViewForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ParsedViewBackColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
        </WoWPacketViewer.Properties.Settings>
    </userSettings>
</configuration>